<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arctic.musicshop.mapper.CDMapper">
    <select id="getCD" resultType="CD">
        select *
        from test.cd
    </select>
    <select id="getCDByAlbum" resultType="CD">
        select *
        from test.cd
        where album = #{album}
    </select>
</mapper>