<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Sign in for Music Shop</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/login}">
    <img alt="" class="mb-4" height="72" th:src="@{/img/bootstrap-solid.svg}" width="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login_tips}">Please sign in</h1>
    <!--			如果不为空才显示msg-->
    <p style="color: #ff0000" th:if="${not #strings.isEmpty(msg)}" th:text="${msg}"></p>
    <label class="sr-only">Username</label>
    <input autofocus="" class="form-control" name="username" required="" th:placeholder="#{login_username}" type="text">
    <label class="sr-only">Password</label>
    <input class="form-control" name="password" required="" th:placeholder="#{login_password}" type="password">
    <div class="checkbox mb-3">
        <label>
            <input th:text="#{login_remeber}" type="checkbox" value="remember-me">
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" th:text="#{login_signin}" type="submit"></button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    <a class="btn btn-sm" href="index.html?lang=zh_CN">中文</a>
    <a class="btn btn-sm" href="index.html?lang=en_US">English</a>
</form>

</body>

</html>